*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
      font-family: 'Nunito Sans', sans-serif;
      font-family: 'Open Sans', sans-serif;
}
:root{
    --primary:hsl(247, 96%, 46%,0.65);
    --secondary:hsla(223, 100%, 1%, 0.65);
}
body{
    background: linear-gradient(90deg, var(--primary), var(--secondary)),
                url("kk.jpg");
                transition: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    position: relative;
}
#container-fluid{
    background-color: #86A7FC;
    color: white;
}
.navbar{
    padding: 0;
    margin: 0;
    color: white;
}
#nav {
    color: white;
    font-size: 15px;
    text-align: center;
}
#nav a:hover{
    color:#FF914D;
    border-radius: 30px;
    text-size-adjust:50px;
}
#blue{
    background-color: blue;
}
.offcanvas-header{
padding: 0px 10px 0px 0px;
background-color: #86A7FC;
}
.offcanvas.show:not(.hiding), .offcanvas.showing {
    width: 100%;
}
.dropdown-menu{
    background-color: blue;
}
#body{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    clear: both;
    align-items: center;
    flex-direction: column;}
.btn:hover {
    background-color: #FF914D;
    color: white;
}
h1{
   margin: 0px 0px 20px 0px;
}
.btn-primary {
background-color: blue;
width: auto;
border-radius: 20px;
}
footer{
    background-color: #9BB8CD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
    
footer ul{
    list-style-type: none;
    display: flex;
    padding: 0;
   justify-content: center;
}
footer ul li a{
    margin: 10px;
}
footer ul li{
    display: flex;
    align-items: center;
}
footer a{
    display: flex;
    background-color: #FF914D;
    text-align: center;
    color: blue;
   padding: 10px;
    border-radius: 50%;
}
footer a:hover{
    background-color: blue;
    color: white;
}
h4{
    font-size: small;
    text-align: center;
}
ion-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
p,h2{
    text-align: center;
}
@media (max-width: 300px) {
    footer ul li a{
        margin: 1px;
    }
    ion-icon {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    footer a{
       padding: 5px;
    }
    .copyright>p{
        display: none;
    }
}